<% provide(:title, "Log in") %>
<div id="login-container">
  <h1>Log in</h1>
  <p>TabiShareにログインして旅の情報を共有しましょう！</p>

  <div class="login-box">
    <%= form_with(url: login_path, scope: :session) do |f| %>
      
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group password-group">
        <div class="d-flex">
          <%= f.label :password, class: "flex-grow-1" %>
          <%= link_to "(forgot password)", new_password_reset_path, class: "forgot-password" %>
        </div>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Remember me on this computer" %>
      </div>

      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
    <% end %>

    <p class="signup-prompt">
      New user? <%= link_to "Sign up now!", signup_path %>
    </p>
  </div>
</div>
